<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" id="add_com" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div id="modal" class="card center bg-pr">
                <div class="card-body pb-0">
                    <form action="/add" method="post">
                        <p class="  font-weight-bold card-text font-weight-bold text-primary"></p><hr>
                        <p class=" font-weight-bold pt-0 pb-0"><span>Boss: </span>  <input class="form-control form-control-sm font-weight-bold ml-2" type="text" name="boss"></p>
                        <p class=" font-weight-bold pt-0 pb-0"><span>Phone: </span>
                            <input class="form-control form-control-sm font-weight-bold ml-2" type="text" name="phone">
                        </p>
                        <p class=" font-weight-bold pt-0 pb-0"><span>Address: </span>
                            <input class="form-control form-control-sm font-weight-bold ml-2" type="text" name="address">
                        </p>
                        <p class=" font-weight-bold pt-0 pb-0"><span>Town: </span>
                            <input class="form-control form-control-sm font-weight-bold ml-2" type="text" name="town">
                        </p>
                        <p class=" font-weight-bold pt-0 pb-0"><span>Link: </span>
                            <input class="form-control form-control-sm font-weight-bold ml-2" type="text" name="link">
                        </p>
                        <button type="submit" name="" class="btn-block m-1 btn btn-sm text-white bg-success" value="Submmit">Submmit</button>
                        <input type="submit" name="" hidden>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>