<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
<div class="jumbotron jumbotron-fluid bg-white text-dark my-0 text-center bg-img rounded-3" >
    <div class="container">
        <h1 class="display-3 ">Sale Manage
            <span class="animated infinite fadeInRightBig">_</span>
        </h1>
    </div>
</div>
<div class="container">
    <% include ./modals/com_add_new %>
    <% include ./modals/com_edit %>
    <% include ./utils/filter %>
    <div class="row">
        <div class="companies col-9">
            <%- include(tab) %>
        </div>
        <div class="sidebar col-3">
            <% include ./partials/sidebar %>
        </div>
    </div>
</div>
    <% include ./partials/script %>
</body>
</html>
