<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
<div class="container">
    <% include ./utils/filter %>
    <div class="row">
        <div class="companies col-9">
            <%- include(tab) %>
        </div>
        <div class="sidebar col-3">
            <% include ./partials/sidebar %>
        </div>
    </div>
</div>
    <% include ./partials/script %>
</body>
</html>
