<div class="manager p-1 bg-light rounded-top my-2 p-2 ">
    <h4 class="text-center text-info text-white rounded-top">Your option</h4>
    <button id="regist" class="btn-block m-1 btn btn-sm text-white bg-success">Add Saler</button>
</div>